.contact-section article {
    padding: 1vh 2vw;
    margin: 20px 2vw;

    width: 20%;
    height: 180px;

    background-color: white;
}

.contact-section h1 {
    color: black;
    font-size: x-large;
    font-weight: 600;
    margin: 4%;
}

.contact-section article img {
    
    height: 30%;
}

.contact-section p, .contact-section a {
    color: black;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    font-size: large;
    text-decoration: none;
}

.contact-section a {
    text-decoration: underline;
}