
/* Titre du jeu */
main > img {
    margin-top: 6vh;
    width: 65vw;
}

/* Bouton de la page d'accueil pas dans la nav */
main .button { 
    margin: 10vh 0;
    width: 30%;
    height: 8vh;
}

/* Texte en dessous du titre */
.txt-accueil {
    font-style: italic;
    font-weight: 700;
    font-size: 130%;
    margin: 2vh auto;
}

/* 
    Animations de chargement de la page 
*/

nav {
    opacity: 0;
    animation: animChargementNav 1s ease 1s 1 normal both;
}

footer {
    opacity: 0;
    animation: animChargementFooter 1s ease 1s 1 normal both;
}

main > img, main .button {
    opacity: 0;
    animation: animChargementImageTitre 1s ease-in-out 0s 1 normal both;
}

.txt-accueil {
    opacity: 0;
    animation: animChargementTxt 1s ease-in-out 1s 1 normal both;
}

/* Définition des animations */
@keyframes animChargementNav {
    from {
        transform: translateY(-15vh);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes animChargementFooter {
    from {
        transform: translateY(10vh);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes animChargementImageTitre {
    from {
        transform: translateY(10vh);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes animChargementTxt {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}