/* 
    Page complete, prends en compte le scroll contrairement à la page d'accueil 
*/

.tutorial-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    overflow-y: auto;
}

.tutorial-main {
    margin: 5vh auto;
    width: 80%;
    height: fit-content;

    background-color: var(--grey);
}

/* 
    Contenu du tutoriel 
*/

.tutorial-main h1 {
    margin: 50px auto;
    text-align: center;

    font-size: xx-large;
    font-weight: 600;
}

/* Titre des sections */
.tutorial-main h2 {
    margin-top: 50px;

    font-size: x-large;
    font-weight: 600;
    
}

.tutorial-line {
    border: none;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.tutorial-main .tutorial-line, .tutorial-main h2 {
    margin-left: 7%;
}

.tutorial-main span {
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
}

.line-red {
    border-top: 5px solid #FF0000; 
}

.line-green {
    border-top: 5px solid #00FF00; 
}

.line-blue {
    border-top: 5px solid #0000FF; 
}

/* Paragraphe des sections */

.tutorial-main p {
    margin-left: 10%;
}