/* 
        Classe générale des boutons 
*/
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    
    padding: 0;
    margin: 0 auto;
    width: 17%;
    height: 80%;
    border: 0px;

    overflow: hidden;
}

/* 
        Contenu boutons (icone + div + texte)
*/

.button img {
    position: relative;
    height: 80%;
    margin-right: 3%;
    margin-left: 5%;
}

.button div {
    position: relative;
    z-index: 1;
    height: 100%;
    margin-right: 0;
    flex-grow: 1;
    right: 0;
    background-color: var(--grey);
}

.button div p {
    position: relative;
    padding: 0;
    margin: auto;
    z-index: 4;
}

/* 
        Animations
*/


/*  On fait 2 pseudo éléments : 1 pour le glissement sur l'image et 1 pour le glissement sur la div étant donné que ce n'est pas le même glissement 
    Les 2 sont appliqués sur le bouton */
.button::before { /* Pour l'image */
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 0%;
    height: 100%;
}

.button::after { /* Pour le div */
    content: "";
    position: absolute;
    left: 25%;
    top: 0%;
    width: 0%;
    height: 100%;
}

/* On crée un pseudo élément de width: 0 et après on l'augmennte lorsque survolé */
.button:hover::before { 
    width: 30%;
}

.button:hover::after {
    width: 80%;
}

/* Durée de l'animation pour les 2 éléments (survol et fin du survol) */
.button::before, .button:hover::before { 
    transition-duration: 0.5s;
}

.button::after, .button:hover::after {
    transition-duration: 0.5s;
}

/* Classes nécéssaires pour la couleur */

.button-anim-red::before {
    background-color: #FF0000;
}
.button-anim-red::after {
    background-color: var(--red);
}

.button-anim-green::before {
    background-color: #00FF00;
}
.button-anim-green::after {
    background-color: var(--green);
}

.button-anim-blue::before {
    background-color: #0000FF;
}
.button-anim-blue::after {
    background-color: var(--blue);
}