
/*
    Nav 
*/

nav {
    height: 8vh;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0);
}

/* 
    Bouton de l'accueil spécial (qui ramene au menu avec l'icone du jeu dedans)
*/

.nav-button-home {
    padding: 0 1%;
    margin-left: 1%;
    height: 80%;
    border: 0px;
    background-color: var(--grey);
}

/* Pour l'image */
.nav-button-home img { 
    height: 5vh;
    float: left;
    transform: skewX(10deg);
}

/* animation des boutons */

.nav-button-home::before { /* pseudo élément pour l'animation */
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 0%;
    height: 100%;
}

.nav-button-home:hover::before { /* hover */
    width: 100%;
}

.nav-button-home::before, .nav-button-home:hover::before {  /* Durée de l'animation pour les 2 éléments (survol et fin du survol) */
    transition-duration: 0.5s;
}

.nav-button-home {
    transform: skewX(-10deg);
}

/*
    Boutons polygonaux de la barre de nav
    Pour que la superposition des éléments fonctionne on doit séparer certains clip path
*/

/* effet sur le coté pour les boutons */
nav .button { 
    transform: skewX(-10deg);
}

/* effet inverse sur le texte et les icones */
nav .button div p {
    transform: skewX(10deg);
}

nav .button img {
    transform: skewX(10deg);
}