
nav {
    height: 8vh;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0);
}

.nav-button-home {
    padding: 0 1%;
    margin-left: 1%;
    height: 80%;
    border: 0px;
    background-color: var(--grey);

    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.nav-button-home img {
    height: 5vh;
    float: left;
}

nav .button, nav .button div, nav .button::before, nav .button::after {
    clip-path: polygon(calc(0% + 10px) 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
}