
/*  
    ------------------------------------------------
        Classes générales 
    ------------------------------------------------
*/

* {
    --blue: #6060FF;
    --red: #FF6060;
    --green: #60FF60;
}

.flexbox-center-row {
    flex-direction: row;
}

.flexbox-center-col {
    flex-direction: column;
}

.flexbox-center-row, .flexbox-center-col {
    display: flex;
    align-items: center;
    justify-content: center;    
}


/*  
    ------------------------------------------------
        Composants
    ------------------------------------------------
*/


/* Barre de Nav */
nav {
    height: 8vh;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0);
}

.nav-button-home {
    width: 10vh;
    height: 100%;
    border: 0px;
    background-color: white;

    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.nav-button-home img {
    height: 5vh;
    float: left;
}

/* Footer */
footer {
    margin-top: auto;
    margin-bottom: 1%;
}

footer * {
    margin: 1vh 5%;
}

nav, footer {
    width: 90%;
}


/* Boutons */
.button {
    margin: 0 auto;
    height: 80%;
    width: 10%;

    border: 0px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

/*  
    ------------------------------------------------
        Couleurs
    ------------------------------------------------
*/


/* Background */
.back-red {
    background-color: var(--red);
}

.back-green {
    background-color: var(--green);
}

.back-blue {
    background-color: var(--blue);
}

/* Borders */
.border-red {
    border: solid #FF0000 3px;
}

.border-green {
    border: solid #00FF00 3px;
}

.border-blue {
    border: solid #0000FF 3px;
}