
/*  
    ------------------------------------------------
        Classes générales 
    ------------------------------------------------
*/

* {
    --blue: #6060FF;
    --red: #FF6060;
    --green: #60EF60;
    --grey: #606060;
}

.flexbox-center-row {
    flex-direction: row;
}

.flexbox-center-col {
    flex-direction: column;
}

.flexbox-center-row, .flexbox-center-col {
    display: flex;
    align-items: center;
    justify-content: center;    
}


/*  
    ------------------------------------------------
        Composants
    ------------------------------------------------
*/


/* Barre de Nav */
nav {
    height: 8vh;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0);
}

.nav-button-home {
    width: 10vh;
    height: 100%;
    border: 0px;
    background-color: white;

    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.nav-button-home img {
    height: 5vh;
    float: left;
}

nav .button {
    clip-path: polygon(calc(0% + 10px) 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
}

nav .button div {
    clip-path: polygon(calc(0% + 10px) 0%, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
}

/* Footer */
footer {
    margin-top: auto;
    margin-bottom: 1%;
}

footer * {
    margin: 1vh 5%;
}

nav, footer {
    width: 90%;
}


/* Boutons */

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 0;
    margin: 0 auto;
    width: 17%;
    height: 80%;
    border: 0px;
}

.button img {
    height: 80%;
    margin-right: 3%;
    margin-left: 5%;
}

.button div {
    height: 100%;
    margin-right: 0;
    flex-grow: 1;
    right: 0;
    background-color: var(--grey)
}

.button div p {
    padding: 0;
    margin: auto;
}

/* Animations des boutons */

.button:hover {
    background-color: red;
}


main .button { /* Bouton de la page d'accueil pas dans la nav */
    margin: 10vh;
    width: 30%;
    height: 8vh;
    margin-left: 5%;
}


/*  
    ------------------------------------------------
        Couleurs
    ------------------------------------------------
*/


/* Background */
.back-red {
    background-color: var(--red);
}

.back-green {
    background-color: var(--green);
}

.back-blue {
    background-color: var(--blue);
}

/* Borders */
.border-red {
    border: solid #FF0000 3px;
}

.border-green {
    border: solid #00FF00 3px;
}

.border-blue {
    border: solid #0000FF 3px;
}