
/* Couleurs et parametres généraux */

* {
    --blue: #6060FF;
    --red: #FF6060;
    --green: #60FF60;
}

/* Corps de la page */

html, body, #root, .App {
    height: 100%;
    overflow-y: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
	background-image: url("images/fond.png");
	background-size: 100% 100%;
}

