
/* Couleurs et parametres généraux */

* {
    --blue: #6060FF;
    --red: #FF6060;
    --green: #60FF60;
}

.bt-color-r {
    background-color: var(--red);
}

.bt-color-g {
    background-color: var(--green);
}

.bt-color-b {
    background-color: var(--blue);
}

/* Corps de la page */

html, body, #root, .App {
    height: 100%;
    overflow-y: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
	background-image: url("images/fond.png");
	background-size: 100% 100%;
}